@model doan.Models.DanhMuc
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Thêm danh mục</h2>
    </div>
    <form method="post" asp-action="Them">
        <div class="form-group">
            <label asp-for="TenDanhMuc">Tên danh mục</label>
            <input type="text" class="form-control" asp-for="TenDanhMuc">
        </div>
        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
</main>