
@model IList<HoaDonAdmin>

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
          <li class="breadcrumb-item active">Danh sách hóa đơn</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">
            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="card-body">
                  <h5 class="card-title">Đơn hàng gần đây</h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Người đặt</th>
                        <th scope="col">Ngày đặt</th>
                        <th scope="col">Trạng thái</th>
                      </tr>
                    </thead>
                    <tbody>
                        @{
							List<int> dsidhoahon = new List<int>();
						}
                        @foreach (var item in Model)
                        {        
                            
							if (dsidhoahon.Contains(item.IDHoaDon))
							{
								continue;
							}
							dsidhoahon.Add(item.IDHoaDon);
                           <tr>
                            <th scope="row"><a asp-area="Admin" asp-controller="Home" asp-action="HoaDonChiTiet" asp-route-id="@item.IDHoaDon">Đơn hàng @item.IDHoaDon</a></th>
                            <td>@item.HoTen</td>
                            <td>@item.NgayDat.ToString("dd/MM/yyyy")</td>
                            <td>
                                @switch (item.TrangThai) 
                                {
                                    case 1:
                                        <span class="badge bg-success">Đã gửi</span>
                                        break;
                                    case 0:
                                        <span class="badge bg-warning">Chờ</span>
                                        break;
                                    case -1:
                                        <span class="badge bg-danger">Từ chối</span>
                                        break;
                                    default:
                                        <span class="badge bg-danger">Lỗi trạng thái</span>
                                        break;
                                }
                            </td>
                          </tr>
                        }

                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->

      </div>
    </section>

  </main><!-- End #main -->