@model IList<BaiViet>

<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">Bài viết gần đây</h3>
					
				</div>
			</div>
		</div>
		<div class="row">
			@foreach (var item in Model) 
			{
				<div class="col-md-4 col-xs-6">
					<div class="shop">
						<div class="shop-img">
							<img src="@item.Anh" style="width: 100%; object-fit: fill; height: 300px;" alt="">
						</div>
						<div class="shop-body">
							<h3>@item.TieuDe</h3>
							<a asp-action="BaiVietChiTiet" asp-route-id="@item.ID" class="cta-btn">Xem ngay <i class="fa fa-arrow-circle-right"></i></a>
						</div>
					</div>
				</div>
			}
			

		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>