@model IList<HoaDonAdmin>

<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">Danh sách đơn đặt hàng</h3>
					
				</div>
			</div>
			<!-- /section title -->
			<!-- Products tab & slick -->
			<div class="col-md-12">
				<div class="row">
					<table class="table table-striped">
						<thead>
						<tr>
							<th scope="col">Mã Đơn Hàng</th>
							<th scope="col">Người Nhận</th>
							<th scope="col">Ngày Đặt</th>
							<th scope="col">Trạng Thái</th>
						</tr>
						</thead>
						<tbody>
						@{
							List<int> dsidhoahon = new List<int>();
						}
						@foreach (var item in Model)
						{
							if (dsidhoahon.Contains(item.IDHoaDon))
							{
								continue;
							}
							dsidhoahon.Add(item.IDHoaDon);
							<tr>
								<th scope="row">Đơn hàng @item.IDHoaDon</th>
								<td>@item.TenNguoiNhan</td>
								<td>@item.NgayDat.ToString("dd/MM/yyyy")</td>
								<td>
									@switch (item.TrangThai) 
									{
										case 1:
											<span class="badge bg-success">Đã gửi</span>
											break;
										case 0:
											<span class="badge bg-warning">Chờ</span>
											break;
										case -1:
											<span class="badge bg-danger">Từ chối</span>
											break;
										default:
											<span class="badge bg-danger">Lỗi trạng thái</span>
											break;
									}
								</td>
							</tr>
						}
						</tbody>
					</table>
				</div>
			</div>
			<!-- Products tab & slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>